<h1>Task List</h1>
<a href="{% url 'task-create' %}">Add Task</a>
<table> 

    <thead>
        <tr>
            <th>Title</th>
        </tr>
    </thead>    
    <tbody>
        {% for task in tasks %}
            <tr>
                <td>{{ task.title }}</td>
                <td><a href="{% url 'task' task.id %}">View</a></td>
                <td><a href="{% url 'task-update' task.id %}">Update</a></td>
                <td><a href="{% url 'task-delete' task.id %}">Delete</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>